body {
    font-family: 'Montserrat', sans-serif;
    background-color: white !important;
    color: black !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55rem;
    display: flex
}

.containers{
    display: flex;
    justify-content: center;
}

.form-wrapper {
    width : 50%;
    margin-right: 20px;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    .containers {
        flex-direction: inherit;
    }
    .form-wrapper{
        width: 100%;
        margin-right: 20px;
    }
}
